/* CSS Document */
/* 
Họ và tên   : Huỳnh Minh Thắng
MSSV        : 19120129
*/
html {
  background-color: #34495e;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
body {
  overflow: hidden;
}
canvas {
  position: absolute;
  z-index: -1;
}
.chooseUnitGroup {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1abc9c;
  opacity: 0.8;
  z-index: 3;
}
.unitGroup {
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.unitGroup p {
  margin: 1px;
  padding: 0;
  font-size: 20px;
  color: #fff;
}
.unitGroup img {
  width: 50px;
  height: 50px;
}
.gold-text {
  color: white;
  font-size: 25px;
}
.sunflower,
.peashooter,
.bullet,
.zombie,
.sun,
.lawnmover {
  display: inline-block;
  position: absolute;
}
.bullet {
  transition: all 0.5s ease;
  z-index: 1;
}
.zombie {
  transition: all 0.05 ease, opacity 2s;
}
.healthbar {
  position: absolute;
  height: 5px;
  width: 100px;
  z-index: 2;
  transition: all 0.5s ease;
  background-color: yellow;
  opacity: 1;
  border: 1px solid black;
}
.sun {
  z-index: 2;
  transition: all 0.5s ease;
}
